
@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap');

@font-face {
    font-family: "Piazolla";
    src: url('../font/Piazolla.tff');
}

@layer base {
    html {
        @apply overflow-x-hidden max-w-[100vw] text-base;
    }

    body {
        @apply font-piazzolla leading-6;
    }

    :root {
        --dvw: 1vw
    }

    .container {
        width: auto !important;
        --content-padding: .5rem;
        --content-width: 500px;
        --content-spacing: max(var(--content-padding),calc(var(--dvw, 1vw)*50 - var(--content-width)/2));
        box-sizing: content-box !important;
        margin-inline:auto;
        max-width: var(--content-width);
        padding: 0 1rem;
        padding-inline:var(--content-padding)}

    @media (min-width: 768px) {
        .container {
            --content-width:770px
        }
    }

    @media (min-width: 1024px) {
        .container {
            --content-width:1020px
        }
    }

    @media (min-width: 1280px) {
        .container {
            --content-padding: 4.5rem;
            --content-width:1280px
        }
    }

    .container .container {
        padding-inline:0
    }

    .container-inset,.container-inset-start {
        -webkit-padding-start: var(--content-spacing);
        padding-inline-start:var(--content-spacing)}

    .container-inset,.container-inset-end {
        -webkit-padding-end: var(--content-spacing);
        padding-inline-end:var(--content-spacing)}

    .container-extend,.container-extend-start {
        -webkit-margin-start: calc(var(--content-spacing)*-1);
        margin-inline-start:calc(var(--content-spacing)*-1)}

    .container-extend,.container-extend-end {
        -webkit-margin-end: calc(var(--content-spacing)*-1);
        margin-inline-end:calc(var(--content-spacing)*-1)}
    
    h1,
    .as-h1 {
        @apply font-normal text-2xl;
    }

    h2,
    .as-h2 {
        @apply font-medium text-xl font-piazzolla;
    }

    h3,
    .as-h3 {
        @apply text-lg font-piazzolla leading-6;
    }
}

@layer components {
    .text-small {
        @apply text-xs italic font-light;
    }

    .header-purple {
        @apply text-purple underline cursor-pointer hover:bg-purple hover:text-white duration-300 inline-block hover:no-underline;
    }

    .btn {
        @apply font-anonymous-pro uppercase font-thin;
    }
}