
@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Piazzolla";
    src: url('../font/Piazzolla.ttf');
}

@font-face {
    font-family: "AnonymousPro";
    src: url('../font/AnonymousPro.ttf');
}

@layer base {
    html {
        @apply overflow-x-hidden max-w-[100vw] text-base;
    }

    body {
        @apply font-piazzolla leading-6;
    }

    :root {
        --dvw: 1vw
    }

    .container {
        width: auto !important;
        --content-padding: .5rem;
        --content-width: 500px;
        --content-spacing: max(var(--content-padding),calc(var(--dvw, 1vw)*50 - var(--content-width)/2));
        box-sizing: content-box !important;
        margin-inline:auto;
        max-width: var(--content-width);
        padding: 0 1rem;
        padding-inline:var(--content-padding)}

    @media (min-width: 768px) {
        .container {
            --content-width:770px
        }
    }

    @media (min-width: 1024px) {
        .container {
            --content-width:1020px
        }
    }

    @media (min-width: 1280px) {
        .container {
            --content-padding: 4.5rem;
            --content-width:1120px
        }
    }

    @media (min-width: 1536px) {
        .container {
          max-width: 1200px !important;
        }
      }

    .container .container {
        padding-inline:0
    }

    .container-inset,.container-inset-start {
        -webkit-padding-start: var(--content-spacing);
        padding-inline-start:var(--content-spacing)}

    .container-inset,.container-inset-end {
        -webkit-padding-end: var(--content-spacing);
        padding-inline-end:var(--content-spacing)}

    .container-extend,.container-extend-start {
        -webkit-margin-start: calc(var(--content-spacing)*-1);
        margin-inline-start:calc(var(--content-spacing)*-1)}

    .container-extend,.container-extend-end {
        -webkit-margin-end: calc(var(--content-spacing)*-1);
        margin-inline-end:calc(var(--content-spacing)*-1)}
    
    h1,
    .as-h1 {
        @apply font-normal text-2xl lg:text-5xl;
    }

    h2,
    .as-h2 {
        @apply font-medium text-xl font-piazzolla leading-relaxed lg:text-[1.8rem];
    }

    h3,
    .as-h3 {
        @apply text-lg font-piazzolla leading-6;
    }

    p {
        @apply lg:text-lg;
    }
}

@layer components {
    .text-small {
        @apply text-xs italic font-light;
    }

    .header-purple {
        @apply text-purple underline cursor-pointer hover:bg-purple hover:text-white duration-300 inline-block hover:no-underline;
    }

    .btn {
        @apply font-anonymous uppercase font-thin text-[0.938rem];
    }

    input[type="submit"] {
        @apply font-anonymous text-center text-xl text-white w-full bg-purple cursor-pointer py-8 hover:bg-purple-light;
    }

    .current {
        @apply underline text-black !important;
    }

    .input {
        @apply font-anonymous p-7 relative text-2xl shadow-md placeholder:text-black focus:outline-purple;
    }

    .link-purple {
        @apply transition-all duration-500 text-purple underline cursor-pointer text-xl lg:text-[1.8rem];
    }

    .link-purple:hover,
    .link-purple:focus {
      color: #fff;
      box-shadow: inset 100rem 0 0 0 #38278f;
    }

    .checkbox {
        @apply h-8 w-8 shadow-md outline-0;
    }
}